h2{
    color: orange;
    background-color: black;
}

#parag_id{
    font-size: small !important;
    font-family: 'Gill Sans','Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize !important;
    text-shadow: 0.5px -0.6px 4px blue;
    line-height: 1.2;
    letter-spacing: 5px;
    word-spacing: 50px !important;
    column-count: 3;
    column-rule: 1px solid orange !important;
    column-gap: 25px !important;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.div_class{
    border:1px solid #ccc !important;
    margin: 10px 50px;
    padding: 1px;
    box-shadow: 10px 2px 10px 4px rgba(0, 0, 0, 1);
    border-top-left-radius: 5%;
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10px;
}


.div_common {
    height: 1rem;
    width: 50%;
    margin-bottom: 20px;
    padding: 2rem;
    box-shadow: 1px 10px 1px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: block;
    display: inline;
    display: inline-block;
}

.color_class{
    color:white;
    background-color:black;
}

.a_link{
    color:#f00;
    background-color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 0.5px -0.6px 5px black;
    padding: 0.4rem;
    border-radius: 5%;
    border: none;
    display: block;
    visibility: hidden;
}

.a_link:hover{
    color:#000;
    background-color: #f00;
}